<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="thumbnail productbox">
        <div class="">
          <a ui-sref="viewProduct({id: product._id})">
            <img src="{{product.imageUrl}}" alt="{{product.title}}" class="img-responsive">
            <div class="producttitle">{{product.title}}</div>
          </a>

          <p>{{product.description}}</p>
        </div>

        <div class="productprice">
          <div class="pull-right">
            <ngcart-addtocart id="{{product._id}}" name="{{product.title}}" price="{{product.price}}" template-url="components/ngcart/addtocart.html" data="product">BUY</ngcart-addtocart>
            <a ng-show="user.role === 'admin'" ui-sref="editProduct({id: product._id})" class="btn btn-default btn-sm" role="button">EDIT</a>
            <a ng-show="user.role === 'admin'" class="btn btn-default btn-sm" ng-click="deleteProduct()">DELETE</a>
          </div>
          <div class="pricetext">{{product.price | currency }}</div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer></footer>
