<span ng-hide="attrs.id">
  <a class="btn btn-primary" ng-disabled="true" ng-transclude></a>
</span>
<span ng-show="attrs.id">
  <span ng-show="!inCart()">
    <span ng-show="quantityMax">
      <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>
    </span>
    <a ng-click="ngCart.addItem(id, name, price, q, data)" class="btn btn-danger btn-sm" role="button"  ng-transclude></a>
  </span>
  <mark  ng-show="inCart()">
    <a class="btn btn-success btn-sm" ng-click="ngCart.removeItemById(id)"><i class="fa fa-check"></i> ADDED</a>
  </mark>
</span>


